/*
Error: Inconsistent indentation: 4 spaces were used for indentation, but the rest of the document was indented using 1 tab.
        on line 5 of /home/ubuntu/workspace/02.4 LESS/demos/projects/05. Transform.html

1: <!DOCTYPE html>
2: <html>
3: <head lang="en">
4: 	<title>05. Transform</title>
5:     <meta charset="UTF-8">
6: 		<link rel="stylesheet/less" type="text/css" href="css/05. Transform.less"/>
7:         <script src="scripts/less-1.3.3.js"></script> <!--after the less link-->
8: </head>
9: <body>
10: 	<div id="somediv">

Backtrace:
/home/ubuntu/workspace/02.4 LESS/demos/projects/05. Transform.html:5
/usr/local/rvm/gems/ruby-2.1.5@rails4/gems/sass-3.4.10/lib/sass/engine.rb:473:in `block in tabulate'
/usr/local/rvm/gems/ruby-2.1.5@rails4/gems/sass-3.4.10/lib/sass/engine.rb:431:in `each'
/usr/local/rvm/gems/ruby-2.1.5@rails4/gems/sass-3.4.10/lib/sass/engine.rb:431:in `each_with_index'
/usr/local/rvm/gems/ruby-2.1.5@rails4/gems/sass-3.4.10/lib/sass/engine.rb:431:in `tabulate'
/usr/local/rvm/gems/ruby-2.1.5@rails4/gems/sass-3.4.10/lib/sass/engine.rb:396:in `_to_tree'
/usr/local/rvm/gems/ruby-2.1.5@rails4/gems/sass-3.4.10/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.1.5@rails4/gems/sass-3.4.10/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.1.5@rails4/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:396:in `run'
/usr/local/rvm/gems/ruby-2.1.5@rails4/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:62:in `process_result'
/usr/local/rvm/gems/ruby-2.1.5@rails4/gems/sass-3.4.10/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.1.5@rails4/gems/sass-3.4.10/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.1.5@rails4/gems/sass-3.4.10/bin/sass:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.1.5@rails4/bin/sass:23:in `load'
/usr/local/rvm/gems/ruby-2.1.5@rails4/bin/sass:23:in `<main>'
/usr/local/rvm/gems/ruby-2.1.5@rails4/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.1.5@rails4/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 4 spaces were used for indentation, but the rest of the document was indented using 1 tab.\A         on line 5 of /home/ubuntu/workspace/02.4 LESS/demos/projects/05. Transform.html\A \A 1: <!DOCTYPE html>\A 2: <html>\A 3: <head lang=\"en\">\A 4: 	<title>05. Transform</title>\A 5:     <meta charset=\"UTF-8\">\A 6: 		<link rel=\"stylesheet/less\" type=\"text/css\" href=\"css/05. Transform.less\"/>\A 7:         <script src=\"scripts/less-1.3.3.js\"></script> <!--after the less link-->\A 8: </head>\A 9: <body>\A 10: 	<div id=\"somediv\">"; }
