* { margin: 0; 
	padding: 0;
}

body {
	background: #2f2f2;
	font-family: arial;
}

img{
	width: 550px;
	height: 380px;
}

ul{
	width: 2000px;
}

ul:hover li{
	width: 40px;
}
ul li:hover{
	width: 550px;
	background: rgba(105, 105, 105, 0.5);
}
ul li:hover a{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 20px;
	background: rgba(105, 105, 105, 0.5);
	color: #222;
	text-decoration: none;

}
li{
	position: relative;
	display: block;
	width: 142px;
	float: left;
	border: 1px solid #888;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

li img{
	display: block;
}

#slider {
	width: 710px;
	margin: 25px auto;
	overflow: hidden;
}

#slider a img {
	display: block;
	-webkit-transition: all 0.8s;
}

.desc a{
	display: none;
}




